* {
    margin: 0;
}
.container {
    width: 1150px;
    background-color: aqua;
}

.menu-bar {
    display: flex;
    justify-content: flex-end;
}

.menu-bar ul li {
    display: inline;
    margin-right: 10px;
}